* {
    border-radius: 0px!important;
}

.btn-default {
    background: #f6f6f6;
    border: 1px solid #eee;
    color: #555;
}

#topbar {
    height: 3px;
    width: 100%;
    background: #1570A6;
}

.container {
    width: 960px;
    margin: 0 auto;
}

#header {
    padding: 20px;
}

#logo {
    font-size: 24px;
    float: left;
}

#search-box {
    float: right;
}

.navbar {
    font-size: 14px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    background: #fafafa;
    padding-left: 0px;
    margin-bottom: 0px;
}

.navbar .navbar-collapse {
    padding-left: 0px;
}

.navbar ul.nav > li {
    float: left;
}

.navbar ul.nav > li > a {
    color: #555;
}

.dropdown-menu {
    padding: 0px;
    background: #fafafa;
    border: 1px solid #eee;
    border-top: 0px;
}

.dropdown-menu li {
    border-bottom: 1px solid #eee;
}

.dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer {
    background: #f6f6f6;
    color: #444;
    font-size: 12px;
}

.widgets {
    margin-top: 20px;
    padding-left: 7px;
}

.copy {
    padding: 15px 7px;
    margin-top: 10px;
}
