<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <title>{% if webTitle %}{{ webTitle }}{% else %}{{ siteTitle }}{% endif %} - 后台管理</title>
  <link rel="stylesheet" href="{{ siteUrl('static/styles/admin/layout.css') }}" type="text/css" media="screen" />
  <link rel="stylesheet" href="{{ siteUrl('static/styles/admin/custom.css') }}" type="text/css" media="screen" />
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ siteUrl('static/styles/admin/ie.css') }}" type="text/css" media="screen" />
  <script src="{{ siteUrl('static/scripts/admin/html5.js') }}"></script>
  <![endif]-->
  <script src="{{ siteUrl('static/scripts/admin/jquery.min.js') }}" type="text/javascript"></script>
  <script src="{{ siteUrl('static/scripts/admin/jquery.tools.min.js') }}" type="text/javascript"></script>
  <script src="{{ siteUrl('static/scripts/admin/jquery.form.js') }}" type="text/javascript"></script>
  <script src="{{ siteUrl('static/scripts/admin/common.js') }}" type="text/javascript"></script>
  <script src="{{ siteUrl('static/scripts/admin/hideshow.js') }}" type="text/javascript"></script>
  <script src="{{ siteUrl('static/scripts/admin/jquery.tablesorter.min.js') }}" type="text/javascript"></script>
  <script type="text/javascript" src="{{ siteUrl('static/scripts/admin/jquery.equalHeight.js') }}"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $(".tablesorter").tablesorter(); 
  });
  $(document).ready(function() {
    //When page loads...
    $(".tab_content").hide(); //Hide all content
    $("ul.tabs li:first").addClass("active").show(); //Activate first tab
    $(".tab_content:first").show(); //Show first tab content
    //On Click Event
    $("ul.tabs li").click(function() {
      $("ul.tabs li").removeClass("active"); //Remove any "active" class
      $(this).addClass("active"); //Add "active" class to selected tab
      $(".tab_content").hide(); //Hide all tab content

      var activeTab = $(this).find("a").attr("href"); //Find the href attribute value to identify the active tab + content
      $(activeTab).fadeIn(); //Fade in the active ID content
      return false;
    });
  });
  </script>
  <script type="text/javascript">
  $(function(){
    $('.column').equalHeight();
  });
  </script>
  {% block static %}
  {% endblock %}
</head>

<body>
  <header id="header">
    <hgroup>
      <h1 class="site_title"><a href="{{ siteUrl('/admin') }}">后台管理</a></h1>
      <h2 class="section_title">控制面板</h2><div class="btn_view_site"><a href="{{ siteUrl('/') }}">浏览网站</a></div>
    </hgroup>
  </header>

  <section id="secondary_bar">
    <div class="user">
      <p>{{ loggedUser.name }}</p>
    </div>
    <div class="breadcrumbs_container">
      <article class="breadcrumbs">
        <a href="{{ siteUrl('/admin') }}">后台管理</a>
        <div class="breadcrumb_divider"></div>
        {% block breadcrumb %}
        <a class="current">控制面板</a>
        {% endblock %}
      </article>
    </div>
  </section>

  <aside id="sidebar" class="column">
    <h3>内容管理</h3>
    <ul class="toggle">
      <li class="icn_categories"><a href="{{ siteUrl('admin/content') }}">文章列表</a></li>
      <li class="icn_new_article"><a href="{{ siteUrl('admin/content/create') }}">发布新文章</a></li>
      <li class="icn_tags"><a href="{{ siteUrl('admin/content/single') }}">单页管理</a></li>
    </ul>
    <h3>菜单管理</h3>
    <ul class="toggle">
      <li class="icn_categories"><a href="{{ siteUrl('admin/menu') }}">菜单列表</a></li>
      <li class="icn_new_article"><a href="{{ siteUrl('admin/menu/create') }}">新建菜单</a></li>
    </ul>
    <h3>网站设置</h3>
    <ul class="toggle">
      <li class="icn_photo"><a href="{{ siteUrl('admin/setting') }}">网站设置</a></li>
      <li class="icn_settings"><a href="#">首页幻灯片</a></li>
    </ul>
    <h3>个人中心</h3>
    <ul class="toggle">
      <li class="icn_security"><a href="{{ siteUrl('admin/profile/password') }}">修改密码</a></li>
      <li class="icn_jump_back"><a href="{{ siteUrl('admin/signout') }}">退出</a></li>
    </ul>

    <footer>
      <hr />
      <p><strong>Copyright &copy; 2014 shonenada</strong></p>
    </footer>
  </aside>
  
  <section id="main" class="column">
    {% block content %}
    {% endblock %}
  </section>


</body>

</html>