{% extends 'admin/base.html' %}

{% block breadcrumb %}
<a href="{{ siteUrl('admin/content/single') }}">文章管理</a>
<div class="breadcrumb_divider"></div>
<a class="current">单页管理</a>
{% endblock %}

{% block static %}
<script>
$(function () {
  //删除
  $(".delete").click(function(){
    var ele = $(this),
      href = ele.attr("href");
    if (confirm("是否确认删除?")){
      $.post(href, function(data){
      //成功
      if (data.success){
        location.reload();
        alert("删除成功！");
      }
      //失败
      else alert(data.info);
      }, "json");
    }
    //取消默认行为
    return false;
  });
  //文章置顶    
  $(".maketop").live("click",function(){
    var ele = $(this),
      href = ele.attr("href");
      $.post(href,function(data){
        //成功
        if (data.success){
          alert("置顶成功！");
          window.location.reload();
        }
        //失败
        else alert(data.info);
      },"json"); 
      //取消默认行为
      return false;
  });
  //取消文章置顶    
  $(".cancel_maketop").live("click",function(){
    var ele = $(this),
      href = ele.attr("href");
      $.post(href,function(data){
        //成功
        if (data.success){
          alert("成功取消置顶！");
          window.location.reload();
        }
        //失败
        else alert(data.info);
      },"json"); 
      //取消默认行为
      return false;
  });
  //隐藏文章  
  $(".hide").live("click",function(){
    var ele = $(this),
      href = ele.attr("href");
      $.post(href,function(data){
        //成功
        if (data.success){
          alert("成功设置该文章为隐藏状态！");
          window.location.reload();
        }
        //失败
        else alert(data.info);
      }, "json"); 
      //取消默认行为
      return false;
  });
  //显示文章    
  $(".display").live("click",function(){
    var ele = $(this),
      href = ele.attr("href");
      $.post(href,function(data){
        //成功
        if (data.success){
          alert("成功设置该文章为显示状态！");
          window.location.reload();
        }
        //失败
        else alert(data.info);
      }, "json"); 
      //取消默认行为
      return false;
  });
});
</script>
{% endblock %}

{% block content %}
<article class="module width_full">
  <header><h3 class="tabs_involved">单页管理</h3></header>
  <form action="{{ siteUrl('admin/menu/save') }}" method="post" id="submit-form">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th>排序</th>
          <th>标题</th>
          <th>浏览量</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for each in singlePageMenu %}
        <tr data-aid="{{ each.id }}">
          <td style="width: 60px;">
            <input type="text" name="sort" value="{{ each.sort }}" style="width: 50px;" />
          </td>
          <td>
            {% if each.is_top == 1 %}
            <img src="{{ siteUrl('static/images/admin/icon_up.gif') }}" />
            {% endif %}
            {% if each.redirect_url %}
            <a href="{{ each.redirect_url }}" target="_blank">{{ each.defaultTitle }}</a>
            {% else %}
            <a href="{{ siteUrl('article/' ~ each.articles.first.id) }}" target="_blank">{{ each.defaultTitle }}</a>
            {% endif %}
            {% if dateDifference(now, each.created) < 604800 %}
            <img src="{{ siteUrl('static/images/admin/icon_new.gif' ) }}" />
            {% endif %}
          </td> 
          <td>
            {{ each.articles.first.view_count }}
          </td>
          <td>
            {% if each.redirect_url %}
            <a href="{{ each.redirect_url }}" style="color:red" target="_blank">转跳</a>&nbsp;&nbsp;
            {% else %}
            <a href="{{ siteUrl('article/' ~ each.articles.first.id ) }}" target="_blank">查看</a>&nbsp;&nbsp;
            {% endif %}
            {% if each.articles.count() > 0 %}
            <a href="{{ siteUrl('admin/content/' ~ each.articles.first.id ~ '/edit') }}">修改</a>&nbsp;&nbsp;
            {% else %}
            <a href="{{ siteUrl('admin/content/single/' ~ each.id ~ '/create') }}">创建</a>&nbsp;&nbsp;
            {% endif %}
            <br />
          </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
</article>
{% endblock %}
