{% extends 'admin/base.html' %}

{% block breadcrumb %}
<a href="{{ siteUrl('admin/content') }}">文章管理</a>
<div class="breadcrumb_divider"></div>
<a class="current">修改文章</a>
{% endblock %}

{% block static %}
<script type="text/javascript" src="{{ siteUrl('static/scripts/plugins/kindeditor/kindeditor-min.js') }}" charset="utf-8"></script>
<script type="text/javascript" src="{{ siteUrl('static/scripts/plugins/kindeditor/lang/zh_CN.js') }}" charset="utf-8"></script>
<script>
$(function() { 
    var editor = KindEditor.create('#editor_id', {
    width: '95%',
    resizeType: 1,
    uploadJson: '{{ siteUrl("file/upload?timestamp=" ~ timestamp) }}',
    fileManagerJson: '{{ siteUrl("file/manager") }}',
    allowFileManager: true
  });
  {% if internationalization %}
  var editor_eng = KindEditor.create('#editor_eng',{
    width: '95%',
    resizeType: 1,
    uploadJson: '{{ siteUrl("file/upload?timestamp=" ~ timestamp ) }}',
    fileManagerJson: '{{ siteUrl("file/manager") }}',
    allowFileManager: true
  });
  {% endif %}
  $("#submit-form").ajaxForm({
    dataType: 'json',
    success: function(response) {
      if (response.success) {
        alert('修改成功');
        location.href = document.referrer;
      }
      else {
        common.warn(response.info);
      }
    },
  });
});
</script>
{% endblock %}

{% block content %}
<article class="module width_full">
  <header><h3>修改文章</h3></header>
    <form action="" method="post" id="submit-form">
    <div class="module_content">
      <fieldset>
        <label>标题</label>
        <input type="text" name="title" value="{{ article | lang('title', 'zh') }}" placeholder="请在这里输入标题" />
      </fieldset>
      {% if internationalization %}
      <fieldset>
        <label>英文标题</label>
        <input type="text" name="title_eng" value="{{ article | lang('title', 'en') }}" placeholder="Title in English" />
      </fieldset>
      {% endif %}
      <fieldset style="width:18%; float:left; margin-right: 3%;">
        <label>所属菜单</label>
        <select style="width:92%;" name="menu">
        {% if article.menu.type == 1 %}
          <option value="{{ article.menu.id }}">{{ article.menu.defaultTitle }}</option>
        {% else %}
          {% for menu in menus %}
          <option value="{{ menu.id }}" {% if article.menu.id == menu.id %}selected="selected"{% endif %}>{{ menu.defaultTitle }}</option>
          {% for sub in menu.subMenus %}
          <option value="{{ sub.id }}" {% if article.menu.id == sub.id %}selected="selected"{% endif %}>└ {{ sub.defaultTitle }}</option>
          {% endfor %}
          {% endfor %}
        {% endif %}
        </select>
      </fieldset>
      <fieldset style="width:18%; float:left; margin-right: 3%;">
        <label>打开方式</label>
        <select style="width:92%;" name="open_style">
          <option value="0"{% if article.open_style == 0 %} selected="selected"{% endif %}>原窗口打开</option>
          <option value="1"{% if article.open_style == 1 %} selected="selected"{% endif %}>新窗口打开</option>
        </select>
      </fieldset>
      <fieldset style="width:48%; float:left;">
        <label>链接地址</label>
        <input type="text" name="url" value="{{ article.redirect_url }}" {% if article.menu.type == 1 %}disabled="disabled" title="单页内容不可使用链接地址！"{% endif %} style="width:92%;" placeholder="该链接不为空时，点击该标题后直接跳往该链接" />
      </fieldset>
      <fieldset>
        <label>文章内容</label>
        <br />
        <div id="editor_container" style="padding: 10px;">
          <textarea id="editor_id" name="content" style="height:400px;">{{ article | lang('content', 'zh') }}</textarea>
        </div>
      </fieldset>
      {% if internationalization %}
      <fieldset>
        <label>文章翻译内容</label>
        <div id="editor_eng_container" style="padding: 10px;">
          <textarea id="editor_eng" name="content_eng" style="height:400px;">{{ article | lang('content', 'en') }}</textarea>
        </div>
      </fieldset>
      {% endif %}
      <div class="clear"></div>
    </div>
  <footer>
    <div class="submit_link">
      <input type="hidden" name="timestamp" value="{{ timestamp }}" />
      <input type="submit" id="submit" value="修改" class="alt_btn">
    </div>
  </footer>
  </form>
</article>
{% endblock %}
