{% extends 'admin/base.html' %}

{% block breadcrumb %}
<a href="{{ siteUrl('admin/menu') }}">菜单管理</a>
<div class="breadcrumb_divider"></div>
<a class="current">菜单列表</a>
{% endblock %}

{% block static %}
<script type="text/javascript" src="{{ siteUrl('static/scripts/plugins/jquery.json-2.3.min.js') }}"></script>
<script>
$(function () {
  $(".delete-btn").live("click",function(){
    var ele = $(this);
    var href = ele.attr("href");
    $.post(href,function(data){
      if (data.success){
        location.reload();
        alert("删除成功！");
      }
      else{
        alert(data.info);
      }
    }, "json"); 
    return false;
  });

  $("#save").click(function(){
    var flag = true;
    $("input[name='title']").each(function(){
      if ($(this).val().replace(" ","") == ""){
        flag = false;
        alert("菜单标题不能为空！");
        return false;
      }
    });
    $("input[name='sort']").each(function(){
      if (!/^\d+$/.test($(this).val())){
        flag = false;
        alert("排序只能为数字！");
        return false;
      }
    });
    //组装数据
    var post = [], JsonStr = "";
    $(".one_menu").each(function(){
      var menu = {};
      var current = $(this);
      menu.id = current.attr("data-id") === undefined ? null : current.attr("data-id");
      menu.sort = current.find("input[name='sort']").val();
      menu.title = current.find("input[name='title']").val();
      menu.title_eng = current.find("input[name='title_eng']").val();
      menu.outside_url = current.find("input[name='outside_url']").val();
      menu.type = current.find("select[name='type']").val();
      menu.open_style = current.find("select[name='open_style']").val();
      menu.is_show = current.find("select[name='is_show']").val();
      //将结果压入数组
      post.push(menu);
    });
    JsonStr = $.toJSON(post);
    var href = $(this).attr("href");
    $.post(href, {"menus" : encodeURIComponent(JsonStr)}, function(data){
      if (data.success) {
        alert("保存成功!");
        window.location.reload();
      }
      else alert(data.info);
    }, 'json');
    return false;
  });
})
</script>
{% endblock %}

{% block content %}
<article class="module width_full">
  <header><h3 class="tabs_involved">菜单管理</h3></header>
  <form action="{{ siteUrl('admin/menu/save') }}" method="post" id="submit-form">
    <table class="tablesorter" cellspacing="0">
      <thead>
        <tr>
          <th></th>
          <th>排序</th>
          <th>标题</th>
          <th>类型</th>
          <th>外部 URL</th>
          <th>打开方式</th>
          <th>显示</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for menu in menus %}
        <tr class="one_menu parent_menu" data-id="{{ menu.id }}" data-type="{{ menu.type }}">
          <td>&nbsp;</td>
          <td style="width: 60px;">
            <input type="text" name="sort" value="{{ menu.sort }}" style="width: 50px;" />
          </td>
          <td>
            <input type="text" name="title" value="{{ menu | lang('title', 'zh') }}"/>
            {% if internationalization %}
            <input type="text" name="title_eng" value="{{ menu | lang('title', 'en') }}" placeholder="English"/>
            {% endif %}
          </td> 
          <td>
            <select name="type" class="select-type first-menu-select" title="无法直接修改菜单类型">
              <option value="0">节点菜单</option>
              <option value="1"{% if menu.type == 1 %} selected="selected"{% endif %}>单页内容</option>
              <option value="2"{% if menu.type == 2 %} selected="selected"{% endif %}>多记录列表</option>
              <option value="3"{% if menu.type == 3 %} selected="selected"{% endif %}>外部URL</option>
            </select>
          </td>
          <td>
            <input type="text" name="outside_url" value="{{ menu.outside_url }}" style="{% if menu.type != 3 %}display: none;{% endif %}"/>
          </td>
          <td>
          <select name="open_style">
            <option value="0">原窗口打开</option>
            <option value="1"{% if menu.open_style == 1 %} selected="selected"{% endif %}>新窗口打开</option>
          </select>
          </td>
          <td>
            <select name="is_show">
              <option value="1">是</option>
              <option value="0"{% if menu.is_show == 0 %} selected="selected"{% endif %}>否</option>
            </select>
          </td>
          <td>
            <a class="delete-btn" href="{{ siteUrl('admin/menu/' ~ menu.id ~ '/delete') }}" data-count="{{ menu.article.count }}">删除</a>
          </td> 
        </tr>
        {% for sub in menu.subMenus %}
        <tr class="sub_menu one_menu" data-id="{{ sub.id }}" data-type="{{ sub.type }}">
          <td style="text-align: right;">※</td>
          <td style="width: 60px;">
            <input type="text" name="sort" value="{{ sub.sort }}" style="width: 50px;" />
          </td>
          <td>
            <input type="text" name="title" value="{{ sub | lang('title', 'zh') }}"/>
            {% if internationalization %}
            <input type="text" name="title_eng" value="{{ sub | lang('title', 'en') }}" placeholder="English"/>
            {% endif %}
          </td> 
          <td>
            <select name="type" class="select-type first-menu-select" title="无法直接修改菜单类型">
              <option value="1"{% if sub.type == 1 %} selected="selected"{% endif %}>单页内容</option>
              <option value="2"{% if sub.type == 2 %} selected="selected"{% endif %}>多记录列表</option>
              <option value="3"{% if sub.type == 3 %} selected="selected"{% endif %}>外部URL</option>
            </select>
          </td>
          <td><input type="text" name="outside_url" value="{{ sub.outside_url }}" style="{% if sub.type != 3 %}display: none;{% endif %}"/></td>
          <td>
          <select name="open_style">
            <option value="0">原窗口打开</option>
            <option value="1"{% if sub.open_style == 1 %} selected="selected"{% endif %}>新窗口打开</option>
          </select>
          </td>
          <td>
            <select name="is_show">
              <option value="1">是</option>
              <option value="0"{% if sub.is_show == 0 %} selected="selected"{% endif %}>否</option>
            </select>
          </td>
          <td>
            <a class="delete-btn" href="{{ siteUrl('admin/menu/' ~ sub.id ~ '/delete') }}" data-count="{{ sub.article.count }}">删除</a>
          </td> 
        </tr>
        {% endfor %}
        {% endfor %}
      </tbody>
    </table>
    <span style="float: right; margin-top: 20px;">
      <input type="submit" value="保存" data-href="{{ siteUrl('admin/menu/save') }}" href="{{ siteUrl('admin/menu/save') }}" id="save" />
    </span>
  </form>
</article>
{% endblock %}
