{% extends 'admin/base.html' %}

{% block breadcrumb %}
<a class="current">网站设置</a>
{% endblock %}

{% block static %}
<script>
$(function() { 
  $("#submit-form").ajaxForm({
    dataType: 'json',
    success: function(response) {
      if (response.success) {
        alert('修改成功');
        location.reload();
      }
      else {
        common.warn(response.info);
      }
    },
  });
});
</script>
{% endblock %}

{% block content %}
<article class="module width_full">
  <header><h3>网站设置</h3></header>
    <form action="{{ siteUrl('admin/setting/save') }}" method="post" id="submit-form">
    <div class="module_content">
      <fieldset>
        <label>是否需要验证码登录</label>
          <select name="is_captcha" style="width:50%;">
            <option value="0"{% if is_captcha == 0 %} selected="selected"{% endif %}>否</option>
            <option value="1"{% if is_captcha == 1 %} selected="selected"{% endif %}>是</option>
          </select>
      </fieldset>
    </div>
  <footer>
    <div class="submit_link">
      <input type="hidden" name="timestamp" value="{{ timestamp }}" />
      <input type="submit" id="submit" value="修改" class="alt_btn">
    </div>
  </footer>
  </form>
</article>
{% endblock %}